<div>
  <div class="row">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="assets/img/Picture6.png" alt="Introduction" style="width:100%;">
            <div class="header-text">
              <div class="col-md-12 text-center">
                <h2>Welcome to <strong>Technopandit</strong></h2><br>
                <h3><span>Let's check your Personality Traits!</span></h3><br>
                <a class="btn btn-primary" routerLink="/login"><b><span class="glyphicon glyphicon-log-in"></span> Login</b></a>&nbsp;&nbsp;<a class="btn btn-primary" routerLink="/register"><b>Register</b></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/img/img6.png" alt="Purpose" style="width:100%;">
            <div class="header-text">
              <div class="col-md-12 text-center">
                <h2><strong>Technopandit</strong></h2><br>
                <h3><span>Provides best recommendations based <br>on Personality Traits of the user </span></h3><br>
              </div>
            </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <!-- <span class="sr-only">Previous</span> -->
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <!-- <span class="sr-only">Next</span> -->
        </a>
      </div>

      <aside id="sticky-social">
        <ul>
          <li><a href="#" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
          <li><a href="#" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
          <li><a href="#" class="entypo-linkedin" target="_blank"><span>LinkedIn</span></a></li>
          <li><a href="http://www.google.com" class="entypo-google-circles" target="_blank"><span>Google</span></a></li>
          <li><a href="#" class="entypo-github" target="_blank"><span>github</span></a></li>
        </ul>
      </aside>
    <!-- </div> -->
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding-left: 40px;text-align:center;">
       <br><br><br><h1>Our Services </h1>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class = "row" style="padding-top:150px;padding-bottom:150px;">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="btn-holder Movie">
        <a href="#" class="simple-btn MovieContent" target="_blank">
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="btn-holder Music">
        <a href="#" class="simple-btn MusicContent" target="_blank"></a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="btn-holder Book">
        <a href="#" class="simple-btn BookContent" target="_blank"></a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="btn-holder Job">
        <a href="#" class="simple-btn JobContent" target="_blank"></a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="btn-holder PersonalityDelineate">
        <a href="#" class="simple-btn PersonalityDelineateContent" target="_blank"></a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row" style="padding-bottom:50px;background: #ebebe0;">
    <div class="col-md-3"></div>
    <div class="col-md-6" ng-app="refresh_div" ng-controller="refresh_control" style="padding-left: 40px;text-align:center;">
       <br><br><br><h1>Technopandit is </h1><h1><span id="changingword">{{message}}</span></h1>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" style = "background: #ebebe0;">
    <div class="col-md-4">
      <strong style = "color:black;font-size:5vw;">"</strong><br>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span><br><br>
      <p><i>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptas quaerat impedit illo vitae nihil consequatur minus reiciendis. Porro enim eaque eos fugit, dolorem molestias."</i></p>
      <br><br>CEO<br><p style="color:grey;">Leading Educational Company</p>
    </div>
    <div class="col-md-4">
      <strong style = "color:black;font-size:5vw;">"</strong><br>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span><br><br>
      <p><i>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptas quaerat impedit illo vitae nihil consequatur minus reiciendis. Porro enim eaque eos fugit, dolorem molestias."</i></p>
      <br><br>HOD<br><p style="color:grey;">Human Resource Department</p>
    </div>
    <div class="col-md-4">
      <strong style = "color:black;font-size:5vw;">"</strong><br>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span><br><br>
      <p><i>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptas quaerat impedit illo vitae nihil consequatur minus reiciendis. Porro enim eaque eos fugit, dolorem molestias."</i></p>
      <br><br>CTO<br><p style="color:grey;">Leading Career Consultant Company</p>
    </div>
</div>
