<div class="background1">
  <!-- choose recommendaion -->
  <div class="card-deck">
    <!-- Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <a routerLink="/movie"><img class="card-img-top" src="assets/img/movies4.jpg" alt="Card image cap"></a>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body">
        <h4 class="card-title">Movies</h4>
      </div>
    </div>

    <!-- Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <a routerLink="/music"><img class="card-img-top" src="assets/img/music3.jpg" alt="Card image cap"></a>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body">
        <h4 class="card-title">Music</h4>
      </div>
    </div>

    <!-- Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <a routerLink="/book"><img class="card-img-top" src="assets/img/books2.jpg" alt="Card image cap" ></a>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body">
        <h4 class="card-title">Book</h4>
      </div>
    </div>
      <!-- Card -->
    <div class="card mb-4">
      <!--Card image-->
      <div class="view overlay">
        <a routerLink="/job"><img class="card-img-top" src="assets/img/job1.png" alt="Card image cap"></a>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body">
        <h4 class="card-title">Job</h4>
      </div>
    </div>
  </div>
  <hr>
  <div class = "PersonalityTraits">
    <div class = "row">
      <div class="col-md-12 alert alert-primary leftmove" style="font-size:1.5vw;">
        <strong>Openness: </strong>People who like to learn new things and enjoy new experiences usually score high in openness. It includes traits like being insightful and imaginative and having a wide variety of interests.<br>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-12 alert alert-primary rightmove" style="font-size:1.5vw;">
        <strong>Conscientiousness - </strong>People that have a high degree of conscientiousness are reliable and prompt. Traits include being organized, methodic, and thorough.<br>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-12 alert alert-primary leftmove" style="font-size:1.5vw;">
        <strong>Extraversion - </strong>Extraverts get their energy from interacting with others, while introverts get their energy from within themselves. Extraversion includes the traits of energetic, talkative, and assertive.<br>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-12 alert alert-primary rightmove" style="font-size:1.5vw;">
        <strong>Agreableness - </strong>These individuals are friendly, cooperative, and compassionate. People with low agreeableness may be more distant. Traits include being kind, affectionate, and sympathetic.<br>
      </div>
    </div>
    <div class = "row" style="padding-bottom:100px;">
      <div class="col-md-12 alert alert-primary leftmove" style="font-size:1.5vw;">
        <strong>Neuroticism - </strong>Neuroticism is also sometimes called Emotional Stability. This dimension relates to one’s emotional stability and degree of negative emotions. People that score high on neuroticism often experience emotional instability and negative emotions. Traits include being moody and tense.<br>
      </div>
    </div>
  </div>
</div>
